
.basestation-field label{
}



.basestation-field input[type=text]{
    width: 70px;
}

.basestation-field input[type=number]{
    width: 70px;
}

.basestation-field input[type=checkbox]{
    
}

.basestation-field{
    flex: 1 0 30%;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.basestation-field > *{
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}
.cb:after{

}

.vgt-wrap {
    margin: 20px;
}

.configurations{
    justify-content: space-between;
    margin-left: 10px;
}

.slider-1{
    margin: 100px 60px 300px 60px;
}

.vue-slider-disabled{
    opacity: 1;
}

.txtfile{
    background-color: $tile-color;
    padding-top: 15px;
    margin: 15px 15px;
    font-family: Consolas,monaco,monospace; 
    line-height: 1em;
}


.config-footer button{
    height: auto;
}

.input-config{
    display: inline-block;
    width: auto;
}