
.basestation-field label{
    display: inline-block;
}

.basestation-field label{
    display: inline-block;
}

.basestation-field input[type=text]{
    width: 70px;
}

.basestation-field input[type=checkbox]{
    
}

.basestation-field{
    margin: 10px 0;
    flex: 1 0 30%;
}

.configurations{
    justify-content: space-between;
}

.slider{
    margin: 100px 60px 300px 60px;
}

.vue-slider-disabled{
    opacity: 1;
}