
.manage-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-content: space-around;
  flex-wrap: nowrap;
  margin-right: 20px;
  margin-bottom: 20px;
}
.cancel-btn{
    margin-top: 20px;
  background-color: $tile-color;
  padding: 15px;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 5px solid $tile-color;
    border-radius: 8px;
}

.del-btn {
  height: auto;
    width: auto;
    margin-top: 20px;
    background-color: $tile-color;
    padding: 15px;
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 5px solid $tile-color;
      border-radius: 8px;
}


.cancel-btn:hover{
    background-color: darkgray;
    border: 5px solid darkgray;
    cursor: pointer;
}

#vs1__listbox{
  z-index: 2000;
}

.main-content{
  width: 82%;
  display: inline-block;
  vertical-align: top;
}