
.main-install{
    display: inline-block;
    padding: 10px;
    width: 100%;
     overflow-y: scroll;
    -ms-overflow-style: none;     
    scrollbar-width: none;    

}

.main-install::-webkit-scrollbar {
  display: none;                /* Hidden scrollbar on Chrome */
}
.sidenav-install {
    width: 17%; 
    background: $tile-color;
    height: calc(100vh - 78px);
    display: inline-block;}

.sidenav-install a {
	color: rgb(8, 8, 8);
	display: block;
	padding: 0 0 0 0;
}
//.sidenav-install-ul label ul {display: none;}

.sidenav-install-ul {
    margin: 10px;
    padding-inline-start: 0;
}

.sidenav-install-ul ul{
    margin-left:  10px;
    padding-inline-start: 0;
}




.sidenav-install > ul > li > a { 
    text-decoration: none;
}

.sidenav-install a:hover{
    background-color: darkgray;
    cursor: pointer;
  }

.sidenav-install > ul > li {
    list-style: none;
}

.sidenav-install li  {
    list-style: none;
}


label {
    display: block;
}

label > ul > li {
    font-size: 0.8em;
}

.nav-group {
    font-size: 1em;
    font-weight: bold;
}
.sidenav-install > ul > li {
    margin-bottom: 50px;
}
#btn,#btn1,#btn2 {
    display: none;
}

.sub-nav-group {
    font-size: 0.8em;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 10px;
}

.sub-sub-nav-group {
    font-size: 0.8em;
    padding-left: 25px;
}

.sub-nav-group > a{
    display: inline-block;
    vertical-align: middle;
}

.dropdown-btn {
  vertical-align: middle;
  float: right;
  text-decoration: none;
  border: none;
  background: none;
  text-align: right;
  cursor: pointer;
  outline: none;
}

.add-btn-right{
  vertical-align: middle;
  float: right;
  text-decoration: none;
  border: none;
  background: none;
  text-align: right;
  cursor: pointer;
  outline: none;
}

/* Add an active class to the active dropdown button */
.active {
}

.dropdown-container {
  display: none;
  margin-top: 10px;
}

.sub-nav-group a{
  padding-left: 12px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
}

.rotated > .fa-caret-down{
  transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}