
.station-tile{
    margin: 30px;
    background-color: $tile-color;
    width: 560px; 
    height: 270px;   
}

.station-infos{
    display: inline-block;
    padding: 15px;
    width: 270px;
}

.map-preview-container{
    display: inline-block;
    width: 240px;
    height: 270px;
    vertical-align: top;
}

.map-preview-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.map-preview {
    text-align: center;
}

.station-infos > h3 {
    margin-block-start: 0em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

//----------------BAse station overview-----------------------------------------

.flex-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.overview-info-tile{
    margin: 15px;
    padding: 0 20px;
    background-color: $tile-color;
}



.overview-info-tile > p{
    line-height: 35px;
    margin-block-start: 0em;
}

.overview-info-tile > h3{
    margin-block-end: 0.3em;
}

.overview-actual-p{
    margin: 15px;
    line-height: normal;
}

//----------------BAse station manage-----------------------------------------