.auth-main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.auth-form {
  display: flex;
  width: 600px;
  flex-direction: column;
  vertical-align: top;
  margin-left: 50px;
  margin-right: 50px;
}

.auth-image {
  display: flex;
  width: calc(100% - 600px);
  background-image: url('../../images/auth_background_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-title {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  color: $primary-color;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.auth-subtitle {
  width: 100%;
  color: $secondary-color;
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.auth-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  font-size: 17px;
  margin-top: 15px;
}

.auth-footer {
  margin-top: 50px;
  width: 100%;
  text-align: left;
  font-size: small;
}

.auth-logo {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  opacity: 0.3;
  height: 60px;
}

.login-input {
  width: 60%;
  font-size: 15px;
  padding: 12px 12px;
  outline: 0;
  border-radius: 3px;
  border: 1px solid lightgrey;
  height: 13px;
}

.login-select {
  width: 60%;
  font-size: 15px;
  padding: 12px 12px;
  outline: 0;
  border-radius: 3px;
  border: 1px solid lightgrey;
  box-sizing: inherit;
}

.pwd-recovery {
    display: inline-block;
    font-size: 17px;
    margin: 10px;
}

.link {
    float: right;
}

.line-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  margin-top: 15px;
}

.line-item {
  height: 1px;
  background: black;
  width: 45%;
  max-width: 300px;
  font-size: x-small;
}

.form-control {
  margin: auto auto 8px auto;
  padding: 0 5px 0 5px;
  display: flex;
  justify-content: center;
}

.mb-more {
  margin: auto auto 24px auto;
}

.btn-submit {
  width: 100%;
  padding: 14px 12px;
  font-size: 18px;
  font-weight: bold;
  background: $secondary-color;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn-submit:hover{
  background-color: $primary-color;
  cursor: pointer;
}

.btn-login {
  width: 100%;
  font-size: 17px;
  margin: 0px 0px;
  padding: 0px;
  font-weight: bold;
  margin-bottom: 50px;
}

.btn-create-account {
    width: 50%;
    margin-left: 15px;
}

.hasErrorRegister {
  border-color: red;
  border-style: solid;
  /* border-width: 2px; */
}