

.settings{
    justify-content: space-around;
}

.setting-btn{
    margin: 25px 30px;
}

.setting-date{
    margin: 0 20px;
}
.setting-filter{
    align-content: flex-end;
}

.rover-overview-panel{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    background-color: lightgray;
}

.rover-inclination-panel{
    flex: 0 0 249px;
    background-color: #cccccc;

}

.rover-map-panel{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(70% - 249px);
    background-color: darkgray;

}

.leaflet-div-icon{
    background-color: transparent;
}

.plot{
    width: 90%;
}

.b-r-container{
    padding-top: 20px;
    background-color: #cccccc;
}

.spinner{

}

.spinner-container{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1999;
}

.grayed {
    background-color: gray;
    opacity: 0.5;
}