

.settings{
    justify-content: space-around;
}

.setting-btn{
    margin: 25px 30px;
}

.setting-date{
    margin: 0 20px;
}


.flex-settings{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.flex-setting-filter{
    display: flex;
    flex-wrap: nowrap;
    align-content: space-around;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rover-overview-panel{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30%;
    background-color: lightgray;
    padding-left: 15px;
    line-height: normal;
}

.rover-inclination-panel{
    flex: 0 0 249px;
    background-color: #cccccc;

}

.rover-map-panel{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(70% - 249px);
    background-color: darkgray;

}

.leaflet-div-icon{
    background-color: transparent;
}

.plot{
    width: 100%;
    padding: 20px;
}

.b-r-container{
    padding-top: 20px;
    background-color: #cccccc;
}

.slider{
    margin-top: 0;
}

.slider *{
    font-size: small;
}

.slider-thumb, .slider-thumb-label, .slider-track-fill {
    background-color: $secondary-color;
}

.slider-thumb-label-text {
    background-color: $secondary-color;
    color: white;
}

.spinner-container{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1999;
}

.grayed {
    background-color: gray;
    opacity: 0.5;
}

