.overview-inst {
    vertical-align: top;
}
.batteries {
    width: 100%;
    justify-content: flex-start;
    align-content: space-between;
}

.b-container {
    padding: 20px;
}

.battery-display {
    width: 220px;
    height: fit-content;
}

.battery-value{
 text-align: center;
 margin-top: 15px;
 margin-bottom: 15px;
 font-size: 0.8em;
}

.battery-name {
    text-align: center;
    font-weight: bold;
}
.b-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.overview-container{
    margin: 5px 30px 5px 30px;
}

.overview-text{
    line-height: normal;
    font-size: larger;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

.overview{
    display: flex;
    height: 230px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: flex-start;
}

.rovers-map{
    margin: 5px 5px;
}

.bottom{
    height: 230px;
}